@page
@model WebApp_Identity.Pages.Account.ForgotPasswordModel
@{
}
<h1>Enter your email to reset your password and follow link on your email</h1>
<br />
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email"></span>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Reset</button>
</form>
<br />
@if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
{
    <div class="alert alert-success" role"alert">
        @Model.SuccessMessage
    </div>
}