@page
@model WebApp_Identity.Pages.Account.LoginTwoFactorWithAuthenticatorModel
@{
}
<h1>Multi Factor Authentication</h1>
<p>
    <h3>Please enter code from your Authenticator App</h3>
</p>
<br />
<form method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="AuthenticatorMFA.SecurityCode"></label>
        <input asp-for="AuthenticatorMFA.SecurityCode" class="form-control" />
        <span asp-validation-for="AuthenticatorMFA.SecurityCode"></span>
    </div>

    <div class="form-group">
        <input asp-for="AuthenticatorMFA.RememberMe" type="hidden" />
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Verify" />
    </div>

</form>