@page
@model WebApp_Identity.Pages.Account.RecoverPasswordModel
@{
}
<h1>Reset your password</h1>
<br />
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="ResetPassword.ConfirmationToken" />

    <div class="form-group">
        <label asp-for="ResetPassword.Email"></label>
        <input asp-for="ResetPassword.Email" class="form-control" readonly />
        <span asp-validation-for="ResetPassword.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ResetPassword.Password"></label>
        <input asp-for="ResetPassword.Password" class="form-control" />
        <span asp-validation-for="ResetPassword.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ResetPassword.ConfirmPassword"></label>
        <input asp-for="ResetPassword.ConfirmPassword" class="form-control" />
        <span asp-validation-for="ResetPassword.ConfirmPassword" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Reset</button>
    <br />
    <a asp-page="/Account/Register">Sign up</a>
    <br />
    <a asp-page="/Account/Login">Login</a>
</form>

@if (!string.IsNullOrEmpty(Model.SuccessMessage))
{
    <div class="alert alert-success mt-3">
        @Model.SuccessMessage
    </div>
}
