@page
@model ASPNETCORE_UnderTheHood.Pages.Account.AccessDeniedModel
@{
}

<div class="text-center">
    <h1>Access Denied</h1>
    <br/>
    <h6>You do not have access to page you are looking for.</h6>
</div>
